-if (typeof(message) !== 'undefined')
	h3 #{message}
- else	
	h3 Welcome to Shock.
br
br
h3 Work Units \(#{workunits}\)
p running : #{work['checked_out']}
p ready   : #{work['ready']}
p pending : #{work['pending']}
br
h3 Tasks \(#{tasks}\)
